@mixin widthMixin ($width) {
  width: $width;
  @content;
}

@mixin colorMixin ($color) {
  color: $color;
  @content;
}

#app {
  @include colorMixin (yellow) {
    background-color: yellow;
    @include widthMixin (14px) {
      font-size: 14px;
    }
  }
}