$color: red;

@mixin colorMixin ($color, $width) {
  background: $color;
  width: $width;
}

#app {
  color: $color;

  $color: blue;
  @include colorMixin (yellow, 12px);

  .box {
    color: $color;
  }
}